.estimate {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
}

.board {
  text-align: left;
  height: 100vh;
  width: 100%;
}

.minified-graph-wrapper {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 200px;
  height: 150px;
  background: red;
  opacity: 0.75;
  transition: opacity 1s;
}

.minified-graph-wrapper:hover {
  opacity: 0.25;
  transition: opacity 1s;
}
