
#reset {
  color: red;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
  text-align: center;

  transition: transform 1s;
}

@keyframes reset {
  from {color: red; background-color: white;}
  to {color: white; background-color: red;}
}

#reset:hover {
  background: red;
  color: white;

  animation-name: reset;
  animation-duration: 2s;
}

.delTask {
  color: red;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
  text-align: center;

  transition: transform 1s;
}

.delTask:hover {
  background: red;
  color: white;

  transform: scale(1, -1);
}

.delSubask {
  color: pink;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
  text-align: center;

  transition: transform 1s;
}

.delSubask:hover {
  background: pink;
  color: white;

  transform: rotate(-180deg);
}

.addSubtask {
  color: purple;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
  text-align: center;

  transition: transform 1s;
}

.addSubtask:hover {
  background: purple;
  color: white;

  transform: scale(-1, 1);
}

.bullet {
  color: grey;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;

  display: inline-block;
  transition: transform 1s;
}

.bullet:hover {
  background: grey;
  color: white;

  transform: scale(-1, -1);
}

.showSub {
  color: green;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
  text-align: center;

  display: none;
  transition: transform 1s;
}

.showSub:hover {
  background: green;
  color: white;

  transform: rotate(90deg);
}
