h1 {
  text-align: center;
}

#calculationContainer {
  display: none;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  text-align: left;
}

th, input.other {
  color: white;
  background: black;
  font-weight: bold;
}

#reset, .delTask {
  color: red;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
}

#reset:hover, .delTask:hover {
  background: red;
  color: white;
}

.non-bordered {
  border: 0;
}

.description, .min, .max, .other {
  width: 99%;
}

#overallContainer, #resultContainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}
