
#container {
  display: none;
}

th {
  text-align: left;
}

#reset {
  color: red;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
}

#reset:hover {
  background: red;
  color: white;
}

.description {
  width: 99%;
}

.overall-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}
