body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

h1 {
  text-align: center;
}

#calculationContainer {
  display: none;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
}

th, input.other {
  color: white;
  background: black;
  font-weight: bold;
}

#reset, .delTask {
  color: red;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
}

#reset:hover, .delTask:hover {
  background: red;
  color: white;
}

.align-right {
  text-align: right;
}

.addSubtask {
  color: violet;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
}

.addSubtask:hover {
  background: violet;
  color: white;
}

.subtask, .submin, .submax {
  color: grey;
}

.bullet {
  color: violet;
  padding-left: 2px;
  padding-right: 2px;
}

.non-bordered {
  border: 0;
}

.description, .min, .max, .other {
  width: 99%;
}

#overallContainer, #resultContainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}
