.side-button {
  width: 100%;
  text-align: center;
  padding-bottom: 4px;
}

.side-button button {
  width: 38px;
  padding-left: initial;
  padding-right: initial;
}

.side-button::after {
  content: attr(data-title);
  display: block;
  position: relative;
  font-size: 10px;
  transition: transform .4s 1s;
  font-variant: all-petite-caps;
}

.side-button[data-color='primary'] { color: #007bff; }
.side-button[data-color='danger'] { color: #dc3545; }
.side-button[data-color='secondary'] { color: #6c757d; }
.side-button[data-color='warning'] { color: #ffc107; }
.side-button[data-color='success'] { color: #28a745; }

.estimate aside .side-button:nth-child(1)::after { transform: translate(calc(1 * var(--offset))); }
.estimate aside .side-button:nth-child(2)::after { transform: translate(calc(2 * var(--offset))); }
.estimate aside .side-button:nth-child(3)::after { transform: translate(calc(3 * var(--offset))); }
.estimate aside .side-button:nth-child(4)::after { transform: translate(calc(4 * var(--offset))); }
.estimate aside .side-button:nth-child(5)::after { transform: translate(calc(5 * var(--offset))); }
.estimate aside .side-button:nth-child(6)::after { transform: translate(calc(6 * var(--offset))); }
.estimate aside .side-button:nth-child(7)::after { transform: translate(calc(7 * var(--offset))); }
.estimate aside .side-button:nth-child(8)::after { transform: translate(calc(8 * var(--offset))); }
.estimate aside .side-button:nth-child(9)::after { transform: translate(calc(9 * var(--offset))); }

.estimate aside:hover .side-button::after {
  transform: translate(0);
  transition: transform .4s;
}
