.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.features {
  width: 100%;
  overflow-y: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

