.panel {
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #f3f2f3;
  min-height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 200px 50px;
}
