.estimate aside {
  width: 72px;
  --offset: -72px;
  align-items: center;
  padding: 10px 0;
  background-color: #222;
  color: #fff;
  position: relative;
  margin: 0;
}

.estimate aside .side-button,
.estimate aside .sidebar-bottom {
  width: 100%;
  text-align: center;
  padding-bottom: 1px;
}

.estimate aside .side-button button {
  width: 38px;
  padding-left: initial;
  padding-right: initial;
}

.estimate aside .side-button .title {
  position: relative;
  font-size: 10px;
  transition: transform .4s 1s;
  font-variant: all-petite-caps;
}

.estimate aside .sidebar-bottom {
  position: absolute;
  bottom: 6px;
}

.estimate aside .side-button:nth-child(1) .title { transform: translate(calc(1 * var(--offset))); }
.estimate aside .side-button:nth-child(2) .title { transform: translate(calc(2 * var(--offset))); }
.estimate aside .side-button:nth-child(3) .title { transform: translate(calc(3 * var(--offset))); }
.estimate aside .side-button:nth-child(4) .title { transform: translate(calc(4 * var(--offset))); }
.estimate aside .side-button:nth-child(5) .title { transform: translate(calc(5 * var(--offset))); }
.estimate aside .side-button:nth-child(6) .title { transform: translate(calc(6 * var(--offset))); }
.estimate aside .side-button:nth-child(7) .title { transform: translate(calc(7 * var(--offset))); }
.estimate aside .side-button:nth-child(8) .title { transform: translate(calc(8 * var(--offset))); }
.estimate aside .side-button:nth-child(9) .title { transform: translate(calc(9 * var(--offset))); }

/* FIXME: this is for test purposes */
/* .estimate aside .side-button:nth-child(1) .title { background-color: red; }
.estimate aside .side-button:nth-child(2) .title { background-color: orange; }
.estimate aside .side-button:nth-child(3) .title { background-color: yellow; }
.estimate aside .side-button:nth-child(4) .title { background-color: green; }
.estimate aside .side-button:nth-child(5) .title { background-color: skyblue; }
.estimate aside .side-button:nth-child(6) .title { background-color: blue; }
.estimate aside .side-button:nth-child(7) .title { background-color: violet; }
.estimate aside .side-button:nth-child(8) .title { background-color: black; }
.estimate aside .side-button:nth-child(9) .title { background-color: white; } */

.estimate aside:hover .side-button .title {
  transform: translate(0);
  transition: transform .4s;
}

.text-color-primary { color: #007bff; }
.text-color-danger { color: #dc3545; }
.text-color-secondary { color: #6c757d; }
.text-color-warning { color: #ffc107; }
.text-color-success { color: #28a745; }
