.auth-screen {
  background-color: rgba(240, 248, 255, 0.99);
}

.auth-screen form label {
  display: block;
}

.auth-screen .input-group {
  margin-bottom: .5rem;
}

.auth-screen button {
  margin: 5px;
}

/* Workaround for reactstrap */
.auth-screen span.input-group-text {
  width: 2.5rem;
  justify-content: center;
}

.auth-screen label,
.auth-screen input,
.auth-screen input:focus,
.auth-screen span,
.auth-screen div {
  color: #007bff;
}
