/* Here to put css resets and imports */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Generic styles */

.hidden {
  display: none;
}

pre {
  text-align: left;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 200px 50px;
}
